<section class="new-training" fxLayout fxLayoutAlign="center">
    <form (ngSubmit)="onStartTraining(f)" #f="ngForm" fxFlex="100%" fxFlex.gt-xs="400px">
        <mat-card>
            <mat-card-title fxLayoutAlign="center">Time to start a workout!</mat-card-title>
            <mat-card-content fxLayoutAlign="center">
                <mat-form-field *ngIf="!isLoading && exercises.length > 0">
                    <mat-select placeholder="Choose Exercise" ngModel name="exerciseId" required>
                        <mat-option *ngFor="let exercise of exercises" [value]="exercise.id">
                            {{exercise.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-spinner *ngIf="isLoading"></mat-spinner>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="center" *ngIf="!isLoading && exercises.length > 0">
                <button type="submit" mat-button color="primary" [disabled]="f.invalid">Start</button>
            </mat-card-actions>
        </mat-card>
    </form>
</section>